{% extends 'app1/base.html' %}

{%block title%} 
  Вы успешно вышли с аккаунта
{% endblock %}

{% block nav %}
<div class="nav-scroller py-1 mb-2">
  <nav class="navbar navbar-dark bg-dark">
    <a class="p-2 link-info" href="{% url 'home' %}">Мир</a>
    <a class="p-2 link-light" href="#">Украина</a>
    <a class="p-2 link-light" href="#">Технология</a>
    <a class="p-2 link-light" href="#">Дизайн</a>
    <a class="p-2 link-light" href="#">Культура</a>
    <a class="p-2 link-light" href="#">Бизнесс</a>
    <a class="p-2 link-light" href="#">Политика</a>
    <a class="p-2 link-light" href="#">Мнения</a>
    <a class="p-2 link-light" href="#">Наука</a>
    <a class="p-2 link-light" href="#">Здоровье</a>
    <a class="p-2 link-light" href="#">Стиль</a>
    <a class="p-2 link-light" href="#">Путешествия</a>
  </nav>
</div>
</div>
{% endblock %}



{% block content %}

<div class="container">
  <div class="row">
    <div class="col-auto">
      <a href="{% url 'user' %}">Войти в личный кабинет
      </a>
    </div>
  </div>
</div>


   
{% endblock content %}

